* {
  font-family: poppins;
}
#judulLoker {
  margin-top: 5rem;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
#lokerGroupCard {
  margin-bottom: 10px;
}
#lokerCard {
  margin-bottom: 10px;
}
#subJudulLoker {
  font-weight: bold;
  margin-bottom: 20px;
}
